/* Main and index CSS */

body {
    font-family: warnock-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: darkgray;

}

#stuff {
    margin: 60px 5% 0 5%;
}

#stuff p {
    margin: 0;
    padding-top: .5em;
    border-bottom: 1px slategray dashed;
}

#stuff p:hover {
    background-color: rgba(179, 127, 179, 0.2);
}

#stuff a {
    text-decoration: none;
    color: grey;
    width: 100%;
    display: block;
}

#stuff header a {
    color: slategray;
    font-weight: 700;
    margin-bottom: 0;
}

#stuff header {
    padding-top: .5em;
}

#stuff header:hover {
    background-color: rgba(211, 211, 211, 0.295);
}


/* Movies CSS */

.years,
.sortable {
    color: dimgray;
    font-size: .8em;
}

.years {
    margin: 30px 0 20px 0;
    width: 2.5em;
}

table {
    text-align: left;
    font-size: 1em;
}

td {
    max-width: 15em;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    cursor: pointer;
}

/* Books css */

.books {
    margin-top: 30px;
}

/* Criterions css */

.crit {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto 0;
}